body {
  font-family: "Balsamiq Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

i {
  color: #38598b;
}

.card {
  border: 2px solid #d3d6db;
  border-radius: 10px;
}

.card-header {
  border: 1px solid #d3d6db;
  font-size: 20px;
  font-weight: 400;
}

.conditions {
  font-size: 20px;
}

.current-conditions,
.five-day-forecast {
  display: block;
  margin: 0 auto;
}

.current-conditions h2 {
  margin-bottom: 18px;
}

.day,
.date,
.time {
  font-size: 22px;
}

.day-card {
  text-align: center;
  transition: all 100ms ease;
}

.day-card:hover {
  transform: scale(1.2);
}

.five-day-forecast p {
  font-size: 20px;
}

.row p {
  line-height: 15px;
}
.search-bar {
  display: block;
  margin: 0 auto;
}

.search-btn {
  border: 1px solid #38598b;
  color: #38598b;
  font-weight: 400;
  transition: all 150ms ease-in-out;
}

.search-btn:hover {
  background-color: #7aa5d2;
  border-color: #47555e;
}

.weather-watch-card-body {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
